[Unit]
Description=Service that manages the audio volume from the matrix GPIO using capacitive touch.
Wants=sys-devices-platform-soc-soc:audio-bcm2835_alsa-sound-card0.device
After=sys-devices-platform-soc-soc:audio-bcm2835_alsa-sound-card0.device

[Service]
Type=idle
ExecStart= /usr/bin/python3 /var/lib/snips/skills/burger-salad-snips-skill/utils/ledService.py

[Install]
WantedBy=multi-user.target
